.login {
  height: 60vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  font-family: "Nunito", sans-serif;
}

.load__formBody h1 {
  font-size: 40px;
  /* color: "#797a7e"; */
}

.load__formBody h2 {
  font-family: "Nunito", sans-serif;
  font-size: medium;
  font-weight: 500;
  margin-top: 30px;
  font-style: bold;
  color: #797a7e;
  /* color: red; */
}

.login button {
  background-color: #55374f;
  margin-top: 30px;
  font-family: "Nunito", sans-serif;
  text-decoration: inherit;
  text-decoration: none;
  color: #f5f5f5;
  border-radius: 0%;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
}

.login button:hover {
  background-color: #6d4e67;
  color: #f5f5f5;
}

.login p {
  font-family: "Nunito", sans-serif;
  color: #393b44;
  font-weight: 100;
  margin-top: 20px;
}

.load__formBody h4 {
  margin-top: 5px;
  color: #393b44;
}

.load__formBody p {
  margin-top: 25px;
}
.load__formBody h4:hover {
  cursor: pointer;
}
